In [4]:
# Advent of Code 2022 - Day 8
# Moideen Kalladi

# i've found that these grid type problems have interesting solutions in numpy / pandas
import numpy as np
import pandas as pd

In [8]:
# read the forest grid into a data frame
forest = pd.read_fwf("input.txt", widths=[1]*99, header=None)
forest.head()

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
0,2,0,0,2,1,0,1,0,1,3,...,0,1,0,1,2,2,2,1,2,1
1,1,2,0,1,0,0,0,0,2,0,...,2,2,0,2,0,2,2,2,2,0
2,0,0,1,2,0,0,1,0,0,2,...,0,0,2,2,2,1,1,2,1,1
3,0,0,0,0,1,2,3,2,1,2,...,3,1,3,2,1,3,1,1,2,1
4,1,1,1,1,0,3,0,2,2,3,...,1,3,2,0,3,2,1,2,1,2

In [14]:
# check visibility from left
visible_from_left = (forest.cummax(axis='columns') > forest.cummax(axis='columns').shift(1, axis='columns').replace(np.nan, 0))
visible_from_left.head()

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
0,True,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [15]:
# check visibility from top
visible_from_top = (forest.cummax(axis='rows') > forest.cummax(axis='rows').shift(1, axis='rows').replace(np.nan, 0))
visible_from_top.head()

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
0,True,False,False,True,True,False,True,False,True,True,...,False,True,False,True,True,True,True,True,True,True
1,False,True,False,False,False,False,False,False,True,False,...,True,True,False,True,False,False,False,True,False,False
2,False,False,True,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
3,False,False,False,False,False,True,True,True,False,False,...,True,False,True,False,False,True,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,...,False,True,False,False,True,False,False,False,False,True

In [18]:
# check visibility from right
# first reverse order of columns

right_forest = forest[list(range(98,-1,-1))]
right_forest.head()

,98,97,96,95,94,93,92,91,90,89,...,9,8,7,6,5,4,3,2,1,0
0,1,2,1,2,2,2,1,0,1,0,...,3,1,0,1,0,1,2,0,0,2
1,0,2,2,2,2,0,2,0,2,2,...,0,2,0,0,0,0,1,0,2,1
2,1,1,2,1,1,2,2,2,0,0,...,2,0,0,1,0,0,2,1,0,0
3,1,2,1,1,3,1,2,3,1,3,...,2,1,2,3,2,1,0,0,0,0
4,2,1,2,1,2,3,0,2,3,1,...,3,2,2,0,3,0,1,1,1,1

In [19]:
visible_from_right = (right_forest.cummax(axis='columns') > right_forest.cummax(axis='columns').shift(1, axis='columns').replace(np.nan, 0))
visible_from_right.head()

,98,97,96,95,94,93,92,91,90,89,...,9,8,7,6,5,4,3,2,1,0
0,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,True,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,True,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [20]:
# check visibility from bottom
# first reverse order of rows

bottom_forest = forest.loc[list(range(98,-1,-1))]
bottom_forest.head()

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
98,1,0,0,2,2,0,0,0,0,3,...,1,1,2,1,2,0,2,1,0,2
97,0,2,0,0,1,1,1,2,3,3,...,1,1,3,0,2,2,2,2,0,0
96,1,1,0,1,0,1,2,2,0,2,...,2,2,2,2,0,2,1,0,0,0
95,0,1,0,0,2,1,0,3,3,1,...,3,2,0,1,3,3,2,0,2,1
94,0,1,1,3,3,2,2,3,1,3,...,0,0,1,0,0,3,3,1,3,0

In [21]:
visible_from_bottom = (bottom_forest.cummax(axis='rows') > bottom_forest.cummax(axis='rows').shift(1, axis='rows').replace(np.nan, 0))
visible_from_bottom.head()

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
98,True,False,False,True,True,False,False,False,False,True,...,True,True,True,True,True,False,True,True,False,True
97,False,True,False,False,False,True,True,True,True,False,...,False,False,True,False,False,True,False,True,False,False
96,False,False,False,False,False,False,True,False,False,False,...,True,True,False,True,False,False,False,False,False,False
95,False,False,False,False,False,False,False,True,False,False,...,True,False,False,False,True,True,False,False,True,False
94,False,False,True,True,True,True,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False

In [23]:
visible_from_left[0] = True
visible_from_right[98] = True

In [24]:
visible_from_top.loc[0] = True
visible_from_top.head()

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,False,True,False,False,False,False,False,False,True,False,...,True,True,False,True,False,False,False,True,False,False
2,False,False,True,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
3,False,False,False,False,False,True,True,True,False,False,...,True,False,True,False,False,True,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,...,False,True,False,False,True,False,False,False,False,True

In [25]:
visible_from_bottom.loc[98] = True
visible_from_bottom.head()

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
98,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
97,False,True,False,False,False,True,True,True,True,False,...,False,False,True,False,False,True,False,True,False,False
96,False,False,False,False,False,False,True,False,False,False,...,True,True,False,True,False,False,False,False,False,False
95,False,False,False,False,False,False,False,True,False,False,...,True,False,False,False,True,True,False,False,True,False
94,False,False,True,True,True,True,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False

In [28]:
visible_from_bottom = visible_from_bottom.loc[list(range(99))]
visible_from_bottom.head()

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [29]:
visible_from_bottom.tail()

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
94,False,False,True,True,True,True,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
95,False,False,False,False,False,False,False,True,False,False,...,True,False,False,False,True,True,False,False,True,False
96,False,False,False,False,False,False,True,False,False,False,...,True,True,False,True,False,False,False,False,False,False
97,False,True,False,False,False,True,True,True,True,False,...,False,False,True,False,False,True,False,True,False,False
98,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [30]:
visible_from_right = visible_from_right[list(range(99))]
visible_from_right.head()

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True

In [31]:
visible = visible_from_left | visible_from_right | visible_from_bottom | visible_from_top
visible

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,False,False,False,False,False,False,True,False,...,True,True,False,True,False,False,False,True,True,True
2,True,False,True,True,False,False,False,False,False,False,...,False,False,True,False,False,False,False,True,False,True
3,True,False,False,False,True,True,True,True,False,False,...,True,False,True,False,False,True,False,False,True,True
4,True,False,False,False,False,True,False,False,False,False,...,False,True,False,False,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,True,True,True,True,True,True,False,False,False,False,...,False,False,False,False,False,False,True,False,True,True
95,True,True,False,False,True,False,False,True,False,False,...,True,False,False,False,True,True,False,False,True,True
96,True,False,False,False,False,False,True,False,False,False,...,True,True,False,True,False,True,True,False,False,True
97,True,True,False,False,False,True,True,True,True,False,...,False,False,True,False,False,True,False,True,False,True
98,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [32]:
visible.sum().sum()

1792

In [33]:
# part 2

In [34]:
# for this, we have to run a function on each tree --
# perhaps we could bound it somehow to the bunch of tall trees in the middle
# but for now just try each one

In [35]:
forest_grid = forest.to_numpy()
forest_grid[:5]

array([[2, 0, 0, 2, 1, 0, 1, 0, 1, 3, 0, 2, 1, 2, 3, 0, 0, 1, 2, 0, 1, 2,
        3, 2, 0, 0, 3, 2, 1, 4, 4, 1, 3, 3, 0, 4, 0, 4, 2, 4, 2, 4, 0, 2,
        4, 2, 2, 2, 1, 1, 1, 4, 5, 5, 3, 3, 4, 4, 2, 1, 3, 3, 3, 4, 1, 2,
        0, 2, 0, 1, 1, 3, 1, 2, 1, 3, 3, 2, 3, 2, 2, 1, 0, 1, 3, 3, 1, 1,
        3, 0, 1, 0, 1, 2, 2, 2, 1, 2, 1],
       [1, 2, 0, 1, 0, 0, 0, 0, 2, 0, 1, 0, 2, 0, 3, 2, 1, 0, 1, 3, 0, 4,
        2, 1, 3, 0, 1, 2, 0, 1, 4, 0, 4, 2, 3, 1, 1, 0, 1, 2, 5, 4, 5, 3,
        5, 2, 4, 2, 3, 2, 2, 1, 1, 2, 2, 2, 4, 5, 2, 4, 2, 5, 4, 0, 3, 1,
        3, 3, 3, 2, 2, 4, 2, 0, 2, 4, 1, 3, 3, 3, 1, 3, 2, 0, 0, 1, 0, 3,
        0, 2, 2, 0, 2, 0, 2, 2, 2, 2, 0],
       [0, 0, 1, 2, 0, 0, 1, 0, 0, 2, 0, 0, 1, 3, 3, 3, 0, 0, 1, 0, 3, 2,
        4, 1, 1, 4, 4, 4, 0, 3, 0, 3, 3, 1, 2, 4, 1, 3, 3, 3, 4, 1, 4, 3,
        5, 5, 2, 4, 3, 2, 4, 1, 4, 3, 4, 2, 3, 3, 4, 1, 1, 3, 3, 2, 5, 2,
        1, 4, 4, 0, 4, 0, 0, 0, 0, 4, 2, 3, 1, 2, 1, 4, 3, 0, 2, 0, 0, 1,
        0, 0, 0, 2, 2, 2, 1, 1, 2, 1, 1],
       [0, 0, 0, 0, 1, 2, 3, 2, 1, 2, 0, 2, 3, 2, 0, 0, 2, 4, 0, 3, 0, 3,
        2, 0, 4, 2, 1, 2, 3, 0, 2, 0, 2, 2, 1, 3, 1, 3, 1, 5, 1, 4, 3, 4,
        5, 3, 2, 5, 4, 2, 2, 5, 1, 3, 1, 4, 5, 2, 2, 1, 2, 1, 2, 4, 5, 1,
        2, 3, 3, 2, 0, 2, 0, 2, 3, 4, 0, 2, 4, 1, 1, 0, 4, 0, 3, 0, 1, 1,
        1, 3, 1, 3, 2, 1, 3, 1, 1, 2, 1],
       [1, 1, 1, 1, 0, 3, 0, 2, 2, 3, 1, 2, 2, 1, 1, 3, 4, 0, 1, 0, 3, 0,
        4, 2, 3, 1, 3, 0, 2, 2, 5, 1, 3, 4, 1, 3, 5, 3, 2, 2, 5, 3, 1, 1,
        4, 3, 5, 2, 1, 1, 3, 2, 5, 2, 4, 3, 2, 2, 1, 3, 3, 3, 5, 1, 3, 5,
        1, 4, 1, 5, 5, 2, 0, 0, 3, 0, 2, 3, 3, 1, 3, 1, 4, 2, 4, 2, 3, 3,
        2, 1, 3, 2, 0, 3, 2, 1, 2, 1, 2]])

In [38]:
distance_scores = np.zeros(shape=(99,99), dtype=int)

# skip the edges
for i in range(1,98):
    for j in range(1,98):
        # look up
        position = i-1
        up_counter = 1
        while position > 0 and forest_grid[position][j] < forest_grid[i][j]:
            position -= 1
            up_counter += 1
        # look down
        position = i+1
        down_counter = 1
        while position < 98 and forest_grid[position][j] < forest_grid[i][j]:
            position += 1
            down_counter +=1
        # look left
        position = j-1
        left_counter = 1
        while position > 0 and forest_grid[i][position] < forest_grid[i][j]:
            position -= 1
            left_counter += 1
        # look right
        position = j+1
        right_counter = 1
        while position < 98 and forest_grid[i][position] < forest_grid[i][j]:
            position += 1
            right_counter += 1
        
        # update viewing score
        distance_scores[i][j] = up_counter * down_counter * left_counter * right_counter

distance_scores[:5]

array([[   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0],
       [   0,   42,    1,   10,    1,    1,    1,    1,   84,    1,   12,
           1,   16,    1,   70,    4,    4,    1,    2,   20,    1,  756,
           2,    1,   36,    1,    2,    9,    1,    2,   54,    1,   80,
           2,   48,    1,    2,    1,    2,    5,  240,    2,   16,    1,
          26,    1,   60,    1,   16,    1,    3,    1,    1,    3,    1,
           1,   20,  260,    1,   20,    2, 1332,   27,    1,    4,    1,
          10,    1,    3,    2,    1,  432,    8,    1,    4,   92,    1,
           2,    2,   12,    1,   12,    5,    1,    1,   18,    1,  198,
           1,    4,    6,    1,    4,    1,    4,   10,    1,    2,    0],
       [   0,    1,    8,  216,    1,    1,   18,    1,    1,   48,    1,
           1,    3,  104,   12,   20,    1,    1,   12,    1,   40,    1,
         264,    2,    1,   24,    8,   80,    1,   40,    1,   12,    6,
           1,    6,  480,    1,    4,    6,    2,   20,    1,   12,    1,
          44,  114,    1,   12,    2,    1,   36,    1,   16,    2,   32,
           1,    2,    3,  192,    1,    1,    6,    4,    2, 1292,    8,
           1,   12,   12,    1,   40,    1,    1,    1,    1,   30,    4,
          16,    1,   20,    1, 2244,   32,    1,   28,    1,    1,   12,
           1,    1,    1,   14,    1,   12,    1,    1,   12,    1,    0],
       [   0,    1,    1,    1,   24,   15,  216,    6,    2,    4,    1,
           6,  360,    9,    1,    1,    9, 4284,    1,   16,    1,   24,
           2,    1, 2205,    6,    1,    6,  168,    1,    8,    1,    2,
           4,    1,   14,    1,    4,    1, 3510,    1,   48,    2,   24,
          75,    2,    1,   72,   18,    3,    1,  300,    1,    8,    1,
          48,  720,    1,    4,    1,    8,    1,    2,   42,  816,    1,
          12,    3,   12,    4,    1,    8,    1,   18,   18,   66,    1,
           2,  144,    1,    2,    1,  192,    1,   30,    1,    6,    1,
           3,   60,    2,   90,    4,    1,  216,    1,    1,   24,    0],
       [   0,    3,    2,    4,    1,  400,    1,    2,   15,  288,    3,
          10,    9,    2,    2,   12, 3456,    1,    8,    1,   32,    1,
         384,    4,    8,    2,   32,    1,    2,    2, 9360,    2,    8,
          36,    1,    2,  672,    3,    2,    1,  864,   12,    1,    1,
          24,    1,  144,    3,    1,    1,   16,    1,  720,    1,   96,
          12,    1,    2,    1,   24,    4,    4,  120,    1,    2,   48,
           1,    8,    1,   96,  448,    3,    1,    1,   48,    1,    4,
           6,    2,    1,   16,    4,  120,    4,  336,    8,    8,    9,
          24,    1,   36,    2,    1,   60,    2,    3,   16,    2,    0]])

In [39]:
np.max(distance_scores)

334880